.diningHallsContainer {  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.diningHallRating {
  height: 100px;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  border: 1px solid black;

  img {
    height: 100%;
    width: 150px;
    object-fit: contain;
  }
}