.messageLine {
  display: flex;
}

.messageBubble {
  border-radius: 15px;
  padding: 10px;

  p {
    margin: 0;
    overflow-wrap: break-word;
  }
}

/* For messages received from other person */
.messageLine {
  justify-content: flex-start;
  .messageBubble {
    max-width: 90%;
    background-color: var(--color-info-gray);
  }
}

/* For messages sent by self (note: this is a subclass of .messageLine)*/
.messageLine.ownMessage {
  justify-content: flex-end;

  .messageBubble {
    background-color: var(--color-info-blue);
  }
}