:root {
  --color-background: #ffffff;

  --color-primary: #a0a0a0;
  --color-primary-select: #b4b4b4;

  --color-secondary: #2774AE;
  --color-secondary-select: #3886c3;
  --color-secondary-dull: #18486c;

  --color-accent: #f4b835;
  --color-accent-select: #ffc74f;
  --color-accent-dull: #c19433;

  --color-text: black;
  --color-text-contrast: white;
}

* {
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;

  background-color: var(--color-background);
}

#root {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

button {
  background-color: var(--color-secondary);
  padding: 10px;
  border-radius: 10px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-contrast);
  font-size: large;

  &:hover {
    background-color: var(--color-secondary-select);
  }
}

input {
  background-color: var(--color-secondary);
  padding: 10px;
  border-radius: 10px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  font-size: large;

  &:hover {
    background-color: var(--color-secondary-select);
  }
}

a {
  text-decoration: underline;
  cursor: pointer;
}