:root {
  --color-background: #f1f1f1;

  --color-primary: lightgray;
  --color-primary-select: rgb(232, 232, 232);

  --color-secondary: #4c81c3;
  --color-secondary-select: #4476b4;
  --color-secondary-dull: #18486c;

  --color-accent: #f3f3f3;
  --color-accent-select: #b2cdee;
  --color-accent-dull: #e1e1e1;

  --color-text: black;
  --color-text-contrast: white;
}

* {
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;

  background-color: var(--color-background);
}

#root {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

button {
  background-color: var(--color-secondary);
  padding: 10px;
  border-radius: 10px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-contrast);
  font-size: large;

  &:hover {
    background-color: var(--color-secondary-select);
  }
}

input {
  background-color: var(--color-secondary);
  padding: 10px;
  border-radius: 10px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  font-size: large;

  &:hover {
    background-color: var(--color-secondary-select);
  }
}

a {
  text-decoration: underline;
  cursor: pointer;
}